.Purpose{
    height: 105px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    .question{
        font-family: 'Permanent Marker', cursive;
        transition: color 0.6s ease-in-out;
        &:hover{
            color: goldenrod;
        }
    }
    .purpose{
        input,button{
            border-radius: 10px;
            font-size: 1.6rem;
            padding: 0.3rem;
            transition: box-shadow 0.6s ease-in-out;
            &:hover{
                box-shadow: 0px 0px 10px goldenrod;
            }
        }
        input{
            padding-left: 1rem;
        }
        button{ 
            background-color: #333; 
            color: goldenrod;
            cursor: pointer;
        }
    }
}