.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    h1{ 
        font-size: 1.5rem;
    }
    .logo{ 
        min-width: 200px;
        margin-left: 1rem;
        font-family: Thorletto; 
        span{
            color:red;
        }
    }
    .right { 
        display: flex; 
        align-items: center;
        .home,.about,.programs{ 
            padding: 1rem;
            transition: background-color 0.6s ease-in-out;  
            &:hover{
                background-color: goldenrod;
                color: black;
            }
        }
    }
    a:visited,a:active,a{
        text-decoration: none;
        color: unset;
    }
}
@media screen and (max-width:600px) {
    .Navbar{
        .right{
            flex-direction: column;
            h1{
                font-size: 1rem;
            }
        }
    }
}