.Footer{
    bottom: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    h1{
        padding-top: 0.5rem;
        font-size: 1rem;
        font-family: Thorletto; 
        span{
            color: red;
        }
    } 
    h4{
        margin-bottom: 0.5rem;
    }
}